# Set
- Sets are used to store multiple items of any type in a single variable.
- Sets are created using curly brackets and elements seperated by comma
- Set items are unordered: Set items are sorted ascending order or alphabetically
- Set items are unchangeable: cannot change once created,but we can remove and add new item
- Set items do not allow duplicate values: Sets cannot have more than one items with the same value.
- Set items are unindexed.

In [1]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'cherry', 'apple', 'banana'}

**Note:** The values True and 1 are considered the same value in sets, and are treated as duplicates

In [2]:
thisset = {"apple", "banana", "cherry", True, 1, 2}

print(thisset)

{True, 'cherry', 2, 'banana', 'apple'}

### set Constructor
It is also possible to use the set() constructor when creating a new set

In [6]:
thisset = set(("apple", "banana", "cherry")) # note the double round-brackets
print(thisset)

{'cherry', 'banana', 'apple'}

### Different types in One set
can contain different type values in same set

In [7]:
thisset = {"apple", "banana", "cherry", True, 1, 2}

print(thisset)

{True, 'cherry', 2, 'banana', 'apple'}